.loader-container {
  width: 100vw;
  height: 100vh;
  background-color: #15171e;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: conic-gradient(#0000 10%, #25b09b);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  animation: s3 1s infinite linear;
}
@keyframes s3 {
  to {
    transform: rotate(1turn);
  }
}

.App {
  height: 100%;
}

#register-form {
  display: flex;
  align-items: center;
  flex-direction: column;

  height: 50%;
  width: 100%;
  justify-content: space-between;
}

.input-container {
  display: flex;
  flex-direction: column;
  width: 50%;

  margin-bottom: 10px;
}

.input {
  height: 40px;
  border-radius: 5px;
}

.messages {
  color: white;
}

#name-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

#nav-cart {
  display: flex;

  margin-left: 20px;
  margin-right: 20px;
  align-items: flex-end;
}

#nav-cart-count {
  color: red;
}

.product-card:hover {
  box-shadow: 2px 2px 2px #0088ca;
}

#side-content {
  height: 100%;
}

#product-description {
  width: 50%;
  text-align: center;
}
