#nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  background-color: gray;
}

#logo {
  width: 60px;
}

#user-image {
  width: 60px;
}

#user-info {
  display: flex;
  background-color: blue;
  width: 10%;
  justify-content: space-evenly;
}

#temp-input {
  height: 30px;
  width: 50%;
}
